body {
	margin: 0;
	padding: 0;
	
}
/* 
Typography 
*/
header, .bottom-box{
	font-family: "Poppins", sans-serif;
	font-style: normal;
}
.header-big, .bottom-box-heading{
	font-weight: 600;
}
.header-body, .main-text-paragraph{
	font-size: 1rem;
	text-align: left;
	
}
.header-body{
	font-weight: 200;
	font-family: "Open Sans", sans-serif;

}
.main-text, footer, .btn {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
}
.main-text-heading {
	font-weight: 700;
}
.main-text-paragraph{
	font-weight: 300;
	color: rgb(174, 174, 174);
}
.btn{
	font-weight: 600;
}
/* whtie logo filter*/
.filter-white {
	filter: brightness(0) saturate(100%) invert(100%) sepia(0%) hue-rotate(346deg)
		contrast(101%);
}


/* 
Layout 
*/
header {
	background: hsl(193, 100%, 96%);
	background-image: url("/images/bg-hero-desktop.svg");
	padding-bottom: 2em;
}
.header-logo-box{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 2em ;
	width: 90%;
	max-width: 1440px;
}


.logo-box-btn {
	padding: 0.5em 2.75em;
	background: #fff;
	color: black;
	border-radius: 50px;
	margin-left: 1em;
	box-shadow: 0 0 10px 1px rgb(226, 225, 225);
}
/* hover states*/
.logo-box-btn:hover,
.logo-box-btn:focus {
	background: hsl(322, 100%, 66%);
	color: white;
}
.header-btn:hover,
.header-btn:focus,
.bottom-box-btn:focus,
.bottom-box-btn:hover {
	background: hsl(192, 100%, 9%);
	color: white;
} 

.header-grid-container {
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template: 1fr 1fr 1fr / 1fr 1fr;
	column-gap: 2em;
	max-width: 1440px;
	
}
.header-big {
	grid-column: 1/2;
	grid-row: 1/2;
	width: 80%;
	font-size: 2rem;
	align-self: flex-end;
	margin: 0;
	max-width: 420px;
}
.header-body {
	grid-column: 1/2;
	grid-row: 2/3;
	width: 100%;
	margin: 0;
	align-self: center;

}
.header-btn {
	grid-column: 1/2;
	grid-row: 3/4;
	background: hsl(322, 100%, 66%);
	color: white;
	padding: 0.75em 3em;
	border-radius: 50px;
	width: 11em;
	align-self: flex-start;
	text-align: center;
	
}
.header-grid-container img {
	grid-column: 2/3;
	grid-row: 1/4;
	width: 100%;
}
.main-container {
	margin: 5em auto 7em auto;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 90%;
}
.main-row {
	display: flex;
	border-radius: 10px;
	box-shadow: 0 0 10px 1px rgb(226, 225, 225);
	align-items: center;
	gap: 5em;
	margin: 0 auto;
	max-width: 1440px;
}
.main-container img{
	width: 100%;
}
.main-img {
	width: 50%;
	padding: 5%;
	min-width: 0;
}
.main-text {
	text-align: left;
	width: 50%;
	padding: 5%;
}
.bottom-box {
	display: flex;
	flex-direction: column;
	margin: 1em auto -5em auto;
	width: 50%;
	padding: 3em 5em;
	box-shadow: 0 0 10px 1px rgb(226, 225, 225);
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	row-gap: 0.5em;
	position: relative;
	background: #fff;
	text-align: center;
	max-width: 800px;

}
.bottom-box-heading{
	width: 100%;
}
.bottom-box-btn {
	background: hsl(322, 100%, 66%);
	padding: 1.25em 5em;
	text-align: center;
	color: white;
	border-radius: 50px;

}
footer {
	background: hsl(192, 100%, 9%);
	color: white;
	padding: 10em 5em 4em 5em;
	margin: 0 auto;
}

.footer-container {
	width:100%;
	display: flex;
	align-items: flex-start;
	gap: 1em;
	margin: 0 auto;
}
.contact-container{
	width: 50%;
	display: flex;
	flex-direction: column;
	margin-right: 1em;
}
.phone, .location, .email{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2em;
}
.location, .page-links{
	align-items: flex-start;
	margin-top: 3em;
}
.location-text{
	margin: 0;
	width: 70%;
}
.page-links{
	display: grid;
	grid-template: 1fr 1fr 1fr/ 1fr 1fr;
}
.page-links p{
	margin: 0 7em 1em 0;
}
.socials{
	display: flex;
	margin-top: 3em;
}




/* media query*/
@media (min-width: 320px) and (max-width: 800px) {
	
	.logo{
		margin: 2em 1em;
		width: 30%;
	}
	.logo img{
		width: 100%;
		margin: 0;
	}
	.logo-box-btn{
		margin:  2em 1em;
		padding: 0.4em 2em;
		justify-content: center;
		align-self: center;
		text-align: center;
		font-size: 0.8rem;
		
	}
	.header-logo-box{
		margin: 0 auto;
		padding: 0;
	}
	.header-grid-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 1em;
		width: 80%;
		gap: 2em;
	}
	.header-big{
		font-size: 1.5rem;
	}
	.header-big, .header-body{
		align-self: center;
		text-align: center;
		width: 100%;
	}
	.header-btn{
		align-self: center;
		margin-bottom: 1em;
	}
	.main-row {
		flex-direction: column-reverse;
		gap: 0;
		text-align: center;
		align-items: center;
	}
	.main-img-middle {
		order: 1;
	}
	.main-img{
		margin-top: 2em;
		width: 80%;
	}
	.main-text{
		width: 85%;
		padding-top: 0;
	}
	.main-text *{
		text-align: center;
	}
	.bottom-box{
		padding: 2em 0 3em 0;
		width: 90%;
	}
	.bottom-box-heading{
		font-size: 1.1rem;
		width: 90%;
		
	}
	.bottom-box-btn{
		padding: 1em 3.5em;
		font-size: 0.8rem;

	}
	footer{
		padding: 0;
		width: 100%;
	}
	.footer-container{
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1em;
		margin: 0 auto;
	}
	.logo-white{
		margin-top: 10em;
		margin-bottom: 1em;
		width: 50%;
	}
	.logo-white img{
		width: 100%;
	}
	.phone, .location, .email{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		gap: 2em;
	}
	.location-icon {
		margin-top: 5px;
	}
	.location-text, .phone-text, .email-text{
		margin: 0;
		align-self:self-start;
		text-align: start;
	}
	.page-links{
		margin-top: 1em;
	}
	.socials{
		align-self: center;
		margin-bottom: 1em;
	}
}
