body {
	margin: 0;
	padding: 0;
}
/* 
Typography 
*/
header, .bottom-box{
	font-family: "Poppins", sans-serif;
	font-style: normal;
}
.header-big, .bottom-box-heading{
	font-weight: 600;
}
.header-body, .main-text-paragraph{
	font-size: 1rem;
	text-align: left;
	
}
.main-text, footer, .btn {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
}
.main-text-heading {
	font-weight: 700;
}
.main-text-paragraph{
	font-weight: 400;
}
.btn{
	font-weight: 600;
}
/* whtie logo filter*/
.filter-white {
	filter: brightness(0) saturate(100%) invert(100%) sepia(0%) hue-rotate(346deg)
		contrast(101%);
}


/* 
Layout 
*/
header {
	background: hsl(193, 100%, 96%);
	background-image: url("/images/bg-hero-desktop.svg");
	padding-bottom: 2em;
}
.header-logo-box{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding-bottom: 1em;
}
.header-logo-box *{
	margin: 3.5em 3.5em 2em 3.5em;
}
.logo-box-btn {
	padding: 0.5em 2.75em;
	background: #fff;
	color: black;
	border-radius: 50px;
	margin-left: 1em;
	box-shadow: 0 0 10px 1px rgb(226, 225, 225);
}
/* hover states*/
.logo-box-btn:hover,
.logo-box-btn:focus {
	background: hsl(322, 100%, 66%);
	color: white;
}
.header-btn:hover,
.header-btn:focus,
.bottom-box-btn:focus,
.bottom-box-btn:hover {
	background: hsl(192, 100%, 9%);
	color: white;
} 

.header-grid-container {
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template: 1fr 1fr 1fr / 1fr 1fr;
	column-gap: 2em;
	
}
.header-big {
	grid-column: 1/2;
	grid-row: 1/2;
	width: 80%;
	font-size: 2rem;
	align-self: flex-end;
	margin: 0;
}
.header-body {
	grid-column: 1/2;
	grid-row: 2/3;
	width: 100%;
	margin: 0;
	align-self: center;

}
.header-btn {
	grid-column: 1/2;
	grid-row: 3/4;
	background: hsl(322, 100%, 66%);
	color: white;
	padding: 0.75em 3em;
	border-radius: 50px;
	width: 11em;
	align-self: flex-start;
	text-align: center;
	
}
.header-grid-container img {
	grid-column: 2/3;
	grid-row: 1/4;
	width: 100%;
}
.main-container {
	margin: 5em auto 7em auto;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 90%;
}
.main-row {
	display: flex;
	border-radius: 10px;
	box-shadow: 0 0 10px 1px rgb(226, 225, 225);
	align-items: center;
	gap: 5em;
}
.main-container img{
	width: 100%;
}
.main-img {
	width: 50%;
	padding: 5%;
	min-width: 0;
}
.main-text {
	text-align: left;
	width: 50%;
	padding: 5%;
}
.bottom-box {
	display: flex;
	flex-direction: column;
	margin: 1em auto -5em auto;
	width: 50%;
	padding: 3em 5em;
	box-shadow: 0 0 10px 1px rgb(226, 225, 225);
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	row-gap: 0.5em;
	position: relative;
	background: #fff;
	text-align: center;
}
.bottom-box-heading{
	width: 100%;
}
.bottom-box-btn {
	background: hsl(322, 100%, 66%);
	padding: 1.25em 5em;
	text-align: center;
	color: white;
	border-radius: 50px;

}
footer {
	background: hsl(192, 100%, 9%);
	color: white;
	padding: 10em 5em 4em 5em;
}

.footer-container {
	display: grid;
	grid-template: 1fr 10% 1fr 1fr 1fr 1fr / 5% 45% 10% 5% 1fr 10% 1fr;
	margin: 0 auto;
	align-items: center;
	grid-template-areas:
		"logo-white logo-white . . . . ."
		". . . . . . ."
		"location-icon location-text  about-us . career . socials"
		". location-text  what-we-do . blog . ."
		"phone-icon phone-text  FAQ . contact-us . ."
		"email-icon email-text . . . . .";
}

/* footer grid locations*/
.location-icon {
	grid-area: location-icon;
	justify-self: center;
}
.phone-icon {
	grid-area: phone-icon;
	justify-self: center;
}
.email-icon {
	grid-area: email-icon;
	justify-self: center;
}
.location-text {
	grid-area: location-text;
	width: 60%;
	align-self: flex-start;
	margin: 0.5em 0.5em;
}
.phone-text {
	grid-area: phone-text;
	margin: 0 0.5em;
}
.email-text {
	grid-area: email-text;
	margin: 0 0.5em;
}
.about-us {
	grid-area: about-us;
}
.career {
	grid-area: career;
}
.what-we-do {
	grid-area: what-we-do;
}
.blog {
	grid-area: blog;
}
.FAQ {
	grid-area: FAQ;
}
.contact-us {
	grid-area: contact-us;
}
.socials {
	grid-area: socials;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

/* media query*/
@media (min-width: 320px) and (max-width: 800px) {
	.header-grid-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin-top: 5em;
	}
	.main-row {
		flex-direction: column-reverse;
		gap: 0;
		text-align: center;
		align-items: center;
	}
	.main-img-middle {
		order: 1;
	}
	.main-text-paragraph, .main-text-heading {
		text-align: center;
	}
	
}
